body {
  margin: 0;
  padding:0;
  font-family: 'Inter', sans-serif;
  color:#fff;
  width: 550px;
  background-color: #121212;
  margin: auto;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  background-image:url("img/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 208px;
}

header #title{
  margin: 0 42px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

header h1 {
  font-size: 42px;
  font-weight: 800;
}

header a {
  align-self:center;
  text-decoration: none;
  color: inherit;
}

header #search{
  border: solid 1px #2e2e2f;
  background-color: #2e2e2f;
  padding: 5px;
  width: 460px;
  margin-left: 40px;
  margin-top: 30px;
}

header input {
  height: 100%;
  margin: 0;
  padding:0 10px;
  width:340px;
  background-color:#2e2e2f;
  color:inherit;
  border: none;
}

header img {
  padding-left:5px;
  padding-top: 5px;
}
header button {
  height: 100%;
  border: none;
  background-color:#2e2e2f;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 5px;
  padding-left: 20px;
}

/* Body styling */

#search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#search-results > img {
  width: 70px;
  margin-top: 15rem;
}

#search-results > p {
  color: #2e2e2f;
  font-weight: 700;
  font-size: 18px;
}

.empty-results > a {
  display: flex;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;  
}

#add-movies img {
  align-self: center;
  width: 18px;
}

/* Search results */

.result-container, .header, .movie-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.result-container > img {
  width: 150px;
}

.result-container {
  border-bottom: solid 2px #2e2e2f
}

.icon {
  height: 18px;
}

#add-to-watchlist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}